* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    height: 60px;
    background-color: #f1f1f1;
    box-shadow: 1px 2px 4px #12121230;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
} 

.nav-profile-head {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-profile-head h1 {
    font-size: 32px;
    font-weight: 600;
}

.nav-profile {
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #3f3f3f;
    padding: 2px;
}

.nav-item {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 12px;
}

.nav-item li a {
    text-decoration: none;
    color: #222;
    padding: 8px 10px;
    font-weight: 500;
    transition: 0.3s;
    border-radius: 6px;
    font-size: 18px;
}

.nav-item li a:hover {
    background-color: #3f3f3f;
    color: #fff;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.banner-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 56px;
    margin: 46px 0;
}

.banner-img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #232323;
}

.banner-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-head p{
    font-size: 26px;
    font-weight: 500;
    color: #383838;
}

.banner-head h1{
    font-size: 44px;
    font-weight: 700;
    color: #000;
}

.banner-head h2{
    font-size: 32px;
    color: #2f2f2f;
    font-weight: 600;
}

.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 12px;
}

.btn-view{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
}

.btn-download {
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
}

.btn-view:hover{
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: 0.3s;
}

.btn-download:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

.banner-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 14px;
    font-size: 38px;
}

.banner-icon a{
    text-decoration: none;
    color: #000;
}

.banner-icon a:hover{
    cursor: pointer;
}


.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 28px;
    color: #222;
}

.about-section {
    padding-top: 60px;
    background-color: #fafafa;
}

.about-container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.about-img {
    width: 360px;
    height: 340px;
    object-fit: cover;
    border-radius: 12px;
    border: 6px solid #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.about-text {
    flex: 1;
    min-width: 280px;
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    padding: 0px;
}

.skills-section {
    padding-top: 80px;
    background-color: #fff;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
    max-width: 1100px;
    margin: auto;
    padding: 16px 0 0 0;
}

.skill-card {
    background: #f9f9f9;
    padding: 28px 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.skill-card i {
    font-size: 48px;
    margin-bottom: 14px;
    color: #000;
}

.skill-card h3 {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 600;
}

.skill-card p {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
}

.projects-section {
    padding: 72px 20px 0 20px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 32px;
    max-width: 1100px;
    margin: auto;
    padding-top: 16px;
}

.project-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card h3 {
    margin: 16px 0 8px;
    font-size: 22px;
    font-weight: 600;
    color: #222;
}

.project-card p {
    font-size: 16px;
    color: #555;
    padding: 0 14px;
    margin-bottom: 14px;
}

.btn-project {
    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 24px;
    background: #000;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-project:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
}


.contact-section {
    padding: 68px 20px 0 20px;
    background-color: #fff;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1100px;
    margin: auto;
}

.contact-info {
    flex: 1;
    min-width: 260px;
    font-size: 18px;
    color: #444;
    line-height: 1.8;
    height: 400px;
    padding: 20px;
    border: 3px solid #232323;
    border-radius: 10px;
}

.contact-info p{
        padding: 20px;
        border: 1.5px solid #232323;
        border-radius: 14px;
        margin-bottom: 14px;
}

.contact-info i {
    margin-right: 10px;
    color: #000;
}

.contact-social {
    margin-top: 14px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 36px;
    margin-top: 28px;
}

.contact-social a {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.contact-social a:hover {
    color: #555;
}

.contact-form {
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 400px;
    padding: 20px;
    border: 3px solid #232323;
    border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contact-form button {
    padding: 12px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
}


.footer {
    background: #f8f9fb;
    color: #333;
    border-top: 1px solid #e3e6ea;
    padding-top: 60px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
}

.footer-row {
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}

.footer-col-head{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 80px;
}

.newsletter{
    width: 420px;
}

.footer-col h4 {
    color: #111;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-col .links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-col .links li {
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
}

.footer-col .links li a:hover {
    color: #000;
}

.footer-col p {
    color: #555;
    max-width: 320px;
    margin: 15px 0 20px;
    line-height: 1.6;
}

.footer-col form {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
}

.footer-col input {
    height: 42px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 0 10px;
    flex: 1;
    outline: none;
    color: #333;
    font-size: 0.95rem;
}

.footer-col input::placeholder {
    color: #aaa;
}

.footer-col form button {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-col form button:hover {
    background: #232323;
}

.footer-col .icons {
    display: flex;
    margin-top: 25px;
    gap: 20px;
}

.footer-col .icons i {
    color: #666;
    font-size: 26px;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.footer-col .icons i:hover {
    color: #000;
    transform: translateY(-3px);
}

.footer-bottom{
    text-align: center;
    padding: 24px 0;
    margin-top: 24px;
    background-color: #f6f4f4;
    border-top: 2px solid #eae8e8;
}

@media (max-width: 768px) {
    .nav-item {
        flex-direction: column;
        background: #f1f1f1;
        position: absolute;
        top: 60px;
        right: 0;
        width: 220px;
        display: none;
        padding: 15px 0;
        box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.15);
    }

    .nav-item.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .nav-profile-head h1 {
        font-size: 24px;
    }

    .nav-item li a {
        padding: 8px 32px;
        font-size: 20px;
    }

    .banner-container {
        flex-direction: column;
        gap: 36px;
        margin: 36px 0;

    }

    .section-title {
        margin-bottom: 28px;
    }

    .about-section {
        padding-top: 14px;
        background-color: #fafafa;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }

    .about-text {
        padding: 0 28px;
    }

    .skills-section {
        padding-top: 40px;
        background-color: #fff;
    }

    .skills-container {
        padding: 0 28px;
    }

    .skill-card {
        padding: 28px 20px;
    }

    .projects-section {
        padding: 40px 8px;
    }

    .projects-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0 20px;
    }

    .project-card h3 {
        font-size: 20px;
    }

    .project-card p {
        font-size: 15px;
    }

    .contact-section {
        padding: 0 20px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }

    .contact-info,
    .contact-form {
        width: 100%;
        max-width: 500px;
    }

    .footer {
        padding-right: 40px;
        padding-left: 40px;
    }

    .footer-row {
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }

    .footer-col-head {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-content: center;
        width: 100%;
    }

    .newsletter {
        width: 100%;
        max-width: 520px;
        margin-top: 40px;
        text-align: center;
    }

    .footer-col form {
        justify-content: center;
    }

    .footer-col .icons {
        justify-content: center;
    }

}



@media (max-width: 640px) {
    
    .banner-img {
        height: 340px;
        width: 340px;
        }
        .nav-item li a {
            font-size: 16px;
        }
    .banner-container {
            gap: 24px;
            margin: 24px 0 0 0;
        }
    
    .banner-head p {
            font-size: 22px;
        }
    
    .banner-head h1 {
            font-size: 36px;
        }
    
    .banner-head h2 {
            font-size: 28px;
        }
    
    .btn-view {
            font-size: 14px;
        }
    
    .btn-download {
            font-size: 14px;
        }
    
    .banner-icon {
            margin-top: 10px;
            font-size: 34px;
        }
    
    .banner-icon a {
            text-decoration: none;
            color: #000;
        }
    
    .banner-icon a:hover {
            cursor: pointer;
        }

    .section-title {
            font-size: 30px;
            margin-bottom: 20px;
        }
    
    .about-section {
            padding-top: 20px;
        }
    
    .about-container {
            gap: 24px;

        }
    
    .about-img {
            width: 320px;
            height: 300px;
        }
    
    .about-text {
            font-size: 18px;
            padding:0 20px;
        }
    
    .skills-section {
            padding-top: 28px;
        }
    
    .skills-container {
            gap: 28px;
            margin-top: 20px;
            padding: 0 28px;
        }
    
    .skill-card {
            padding: 20px 14px;
        } 

    .projects-section{
        padding: 40px 10px;
    }
    .projects-container {
            grid-template-columns: 1fr !important;
            
        }
    .project-card{
        margin-bottom: 16px;
    }
    
    .project-card img {
            height: 160px;
        }
    
    .btn-project {
            padding: 8px 14px;
            font-size: 14px;
        }
        
    .contact-section{
        padding: 0px 24px;
    }
    .contact-info {
            font-size: 16px;
            text-align: center;
        }
    
    .contact-social {
            font-size: 24px;
        }
    
    .contact-form input,
    .contact-form textarea {
            font-size: 15px;
            padding: 10px;
        }
    
    .contact-form button {
            font-size: 15px;
            padding: 10px;
        }
    .footer{
        padding-top: 28px;
        padding-left: 0;
        padding-right: 0;
    }

        .footer-row {
            margin: 0 16px;
        }

        .footer-col-head {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px 16px;
            width: 100%;
        }

        .footer-col {
            min-width: 140px;
        }

        .footer-col h4 {
            font-size: 1.1rem;
            margin-bottom: 10px;
            text-align: center;
        }

        .footer-col .links li {
            text-align: center;
        }

        .newsletter {
            width: 100%;
            max-width: 100%;
            margin-top: 40px;
            text-align: center;
        }

        .newsletter p {
            max-width: 90%;
            margin: 10px auto 20px;
            font-size: 0.95rem;
        }

        .newsletter form {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .newsletter input {
            width: 90%;
        }

        .newsletter form button {
            width: 90%;
        }

        .footer-col .icons {
            justify-content: center;
        }

        .footer-bottom p {
            font-size: 0.9rem;
        }
    
}