
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    height: 60px;
    background-color: #f1f1f1;
    box-shadow: 1px 2px 4px #12121230;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
} 

.nav-profile-head {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-profile-head h1 {
    font-size: 32px;
    font-weight: 600;
}

.nav-profile {
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #3f3f3f;
    padding: 2px;
}

.nav-item {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 12px;
}

.nav-item li a {
    text-decoration: none;
    color: #222;
    padding: 8px 10px;
    font-weight: 500;
    transition: 0.3s;
    border-radius: 6px;
    font-size: 18px;
}

.nav-item li a:hover {
    background-color: #3f3f3f;
    color: #fff;
}

.menu-toggle {display: none;
    font-size: 24px;
    cursor: pointer;
}

.banner-contaier{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 56px;
margin: 46px 0;}


.banner-ing{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #232323;
}

.banner-head{display: flex;
flex-direction: column;
align-items: center;
}

.banner-head h1{
    font-size: 26px;
    font-weight: 500;
    color: #383838;
}
